
* {
    margin: auto;
    padding: 0;
}

html {

    color:  #ff0000;
    font-family: 'Play', sans-serif;
    text-rendering: optimizeLegibility;
    text-align: center;
}

body {

  --c1: #ff0000;
  --c2: #fff;
  --c3: #ffff;
  --bg: var(--c3);


  background-color: var(--bg);
  background-image:
    linear-gradient(45deg, var(--c1) 25%, transparent 25%),
    linear-gradient(-45deg, var(--c1) 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, var(--c2) 75%),
    linear-gradient(-45deg, transparent 75%, var(--c2) 75%);

}



.navbar {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #000;
    display: flex;

}
.logo{
    display: flex;
}

.nav-logo {
    margin-left: 20px;
}

.navbar h1 {
    font-size: 40px;
    color: #ff0000;

}

.top_frame{
    font-size: 2rem;
}





















